[submodule "Sonar.UserProfile"]
	path = Sonar.UserProfile
	url = https://github.com/SonarMusic/UserProfile
[submodule "Sonar.UserTracksManagment"]
	path = Sonar.UserTracksManagment
	url = https://github.com/SonarMusic/UserTrackManagement
